<div *ngIf="!isNewTask">
    <h2>Mettre à jour '{{ currentTask.name }}'</h2>
    <h4>{{ currentTask.description }}</h4>
</div>
<div *ngIf="isNewTask">
    <h2>Nouvelle tâche</h2>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSaveTask(myForm)">
    <div class="form-group">
        <input type="hidden" [value]="currentTask?.id" formControlName="id">
        <input type="hidden" [value]="auth.loggedUser.id" formControlName="owner">
        <input type="text" placeholder="Titre de la tâche" formControlName="name" required class="form-control"
            [value]="currentTask?.name">
        <input type="text" placeholder="Description" formControlName="description" required class="form-control"
            [value]="currentTask?.description">
    </div>
    <div class="form-group">
        <span>Échéance :</span>
        <input type="datetime-local" placeholder="Date limite" formControlName="deadline" required class="form-control"
            [value]="currentTask?.deadline">
    </div>
    <div class="form-group">
        <div class="task-status-selector">
            <div *ngFor="let status of ['TODO', 'PROCESSING', 'OK', 'CANCELLED']" class="status-option"
                [ngClass]="{'selected': currentTask?.status === status}" (click)="setStatus(status)">

                <span class="status-label">
                    {{ getStatusLabel(status) }}
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Catégories :</label>
        <div class="categories-container">
            <span *ngFor="let category of categories" [class.selected]="isCategorySelected(category)"
                (click)="toggleCategory(category)" class="category-item" class="color{{ category.color }}">
                {{ category.name }}
            </span>
        </div>
    </div>

    <div class="bottom-buttons">
        <button [disabled]="!myForm.valid" type="submit" class="btn btn-success">✔ Valider</button>
        <button routerLink="/dashboard">↩ Retour</button>
        <button class="secondary" routerLink="/categories">⚙ Modifier les catégories</button>
    </div>
</form>