@import "../../../../variables.sass"

form
    width: 512px
    margin: 96px auto
    border-radius: 14px
    background: $white
    background: $card-gradient    
    padding: 12px

    div.form-group
        display: flex
        flex-direction: column
        gap: 8px
        align-items: stretch
        margin: 12px 0

p
    text-align: center

input
    border: 0
    height: 32px
    border-bottom: 1px solid $white
    background-color: transparent
    text-align: center
    border-radius: 0
    font-size: 18px
    margin-bottom: 14px
    font-family: $default-font
    color: $white

    &::placeholder
        color: $lightgray

input.ng-invalid.ng-touched
    color: $red

div.bottom-buttons
    flex-direction: column
    display: flex
    gap: 8px


#BadCredentials
    color:$red
    font-weight: bold

.categories-container 
  display: flex
  flex-wrap: wrap
  gap: 10px

.category-item 
  cursor: pointer
  transition: background-color 0.3s ease, color 0.3s ease
  opacity: 0.6

.category-item:hover 
  background-color: $lightgray

.category-item.selected 
  opacity: 1

span
    border-radius: 8px
    padding: 2px 8px
    font-weight: bold   
    font-size: 14px

    &.color1
        background-color: $catcolor1

    &.color2
        background-color: $catcolor2

    &.color3
        background-color: $catcolor3

    &.color4
        background-color: $catcolor4

    &.color5
        background-color: $catcolor5

    &.color6
        background-color: $catcolor6

    &.color7
        background-color: $catcolor7

    &.color8
        background-color: $catcolor8

    &.color9
        background-color: $catcolor9

    &.color10
        background-color: $catcolor10

    &.color11
        background-color: $catcolor11

    &.color12
        background-color: $catcolor12

    &.color13
        background-color: $catcolor13

    &.color14
        background-color: $catcolor14

    &.color15
        background-color: $catcolor15

    &.color16
        background-color: $catcolor16

    &.color17
        background-color: $catcolor17

    &.color18
        background-color: $catcolor18

    &.color19
        background-color: $catcolor19

    &.color20
        background-color: $catcolor20

.task-status-selector 
    display: flex
    gap: 10px
    justify-content: flex-start


.status-option 
  padding: 10px 20px
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, color 0.3s


.status-option:hover 
  background-color: #f0f0f0


.status-option.selected 
  background-color: #007bff
  color: white


.status-label 
  font-weight: bold