<h1>Bonjour, cher invité.</h1>

<app-add-bouton></app-add-bouton>

<div id="Dashboard">
  <div class="dashboard--group">
    <h3 class="dashboard--group--title">Cette semaine</h3>
    <div class="dashboard--group--content">
      <div class="task-card">
        <h5 class="task-card--title">Appeler Jean-Bernard</h5>
        <div class="task-card--content">
          <div class="task-card--content--left">
            <span class="category category1">Pro</span>
            <span class="category category2">Perso</span>
          </div>
          <div class="task-card--content--right">
            <span class="ok">Terminé.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>