/* ------------ COLORS ------------ */
$red: #fc040b
$backdrop-gradient: linear-gradient(74deg, rgba(252,4,11,1) 0%, rgba(225,39,68,1) 100%)
$white: #FFFFFF
$purple: #F200FF
$black: #111123

/* ------------ FONTS ------------ */
$default-font: "Kodchasan", sans-serif